<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mbf</title>

    <environment include="Development">
        <!-- custom stylesheet -->
       @RenderSection("stylesheet", required: false)

    </environment>
    <environment exclude="Development">
    </environment>

</head>
<body>
    @RenderBody()
    @RenderSection("script", required: false)
</body>