<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mbf</title>

    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
        
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">  
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="~/lib/google-font/css/fonts.googleapis.css" rel="stylesheet" type="text/css" media="all">
        <link href="~/lib/icon-font/css/icon-font.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="~/lib/owl-carousel/css/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="~/css/social-buttons.css" rel="stylesheet" type="text/css" media="all">
        <link href="~/css/cs-1.styles.css" rel="stylesheet" type="text/css" media="all">
        <link href="~/css/spr.css" rel="stylesheet" type="text/css" media="all">
        <link href="~/css/slideshow-fade.css" rel="stylesheet" type="text/css" media="all">
        <link href="~/css/cs.animate.css" rel="stylesheet" type="text/css" media="all">
    </environment>
    <environment exclude="Development">
    </environment>

</head>
<body>
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">mbf</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Test" asp-action="Index">Test</a></li>
                </ul>
            </div>
        </div>
    </nav> -->
    <!-- header -->
    <partial name="~/Views/inc/_Header.cshtml" />

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
    </div>
        
    <!-- footer -->
    <partial name="~/Views/inc/_Footer.cshtml" />

    <environment include="Development">
        <script type="text/javascript" src="~/lib/jquery/js/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery/js/jquery.currencies.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery/js/jquery.zoom.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery/js/jquery.touchSwipe.min.js"></script>
        <script type="text/javascript" src="~/lib/owl-carousel/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <!-- <script type="text/javascript" src="~/lib/classie/js/classie.js"></script> -->
        <script type="text/javascript" src="~/js/cs.optionSelect.js"></script>
        <script type="text/javascript" src="~/js/cs.script.js"></script>
        <script type="text/javascript" src="~/js/linkOptionSelectors.js"></script>
        <script type="text/javascript" src="~/js/scripts.js"></script>
        <script type="text/javascript" src="~/js/social-buttons.js"></script>
        <!-- header affix -->
        <script type="text/javascript" src="~/js/affix.js"></script>
        <!-- header mobile navigation -->
        <script type="text/javascript" src="~/js/navigation.mobile.js"></script>

    </environment>
    <environment exclude="Development">
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
