<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mbf</title>

    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap&subset=vietnamese" rel="stylesheet">
        
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">  
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="~/lib/google-font/css/fonts.googleapis.css" rel="stylesheet" type="text/css" media="all">
        <link href="~/lib/icon-font/css/icon-font.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="~/lib/owl-carousel/css/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="~/css/social-buttons.css" rel="stylesheet" type="text/css" media="all">
        <link href="~/css/cs-1.styles.css" rel="stylesheet" type="text/css" media="all">
        <link href="~/css/spr.css" rel="stylesheet" type="text/css" media="all">
        <link href="~/css/slideshow-fade.css" rel="stylesheet" type="text/css" media="all">
        <link href="~/css/cs.animate.css" rel="stylesheet" type="text/css" media="all">
        <!-- custom stylesheet -->
       @RenderSection("stylesheet", required: false)

    </environment>
    <environment exclude="Development">
    </environment>

</head>
<body>
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">mbf</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Test" asp-action="Index">Test</a></li>
                </ul>
            </div>
        </div>
    </nav> -->
    <!-- header -->
    <partial name="~/Views/inc/_Header.cshtml" />

    <partial name="_CookieConsentPartial" />

    <div class="page-container" id="PageContainer">
        @RenderBody()

         <!-- Modal QuickView -->
        <div id="quick-shop-modal" class="modal quick-shop" role="dialog" aria-hidden="true" tabindex="-1" data-width="800" style="display: none;">
            <div class="modal-dialog fadeIn animated">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="close fa fa-times btooltip" data-toggle="tooltip" data-placement="top" title="" data-dismiss="modal" aria-hidden="true" data-original-title="Close"></i>
                    </div>
                    <div class="modal-body">
                        <div class="quick-shop-modal-bg" style="display: none;"></div>
                        <div class="row">
                            <div class="col-md-6 product-image">
                                <div id="quick-shop-image" class="product-image-wrapper">
                                    <div id="featuted-image" class="main-image featured1">
                                        <img src="~/images/trending_05.jpg" alt="">
                                    </div>
                                    <div id="gallery_main_qs" class="product-image-thumb scroll scroll-mini">
                                        <div class="qs-vertical-slider" style="display:block">
                                            <a class="image-thumb active" href="~/images/trending_05.jpg" data-image="./~/images/trending_05.jpg" data-zoom-image="~/images/trending_05.jpg">
                                                <img src="~/images/trending_05.jpg" alt="">
                                            </a>
                                            <a class="image-thumb" href="~/images/trending_03.jpg" data-image="./~/images/trending_03.jpg" data-zoom-image="~/images/trending_03.jpg">
                                                <img src="~/images/trending_03.jpg" alt="">
                                            </a>
                                            <a class="image-thumb" href="~/images/trending_02.jpg" data-image="./~/images/trending_02.jpg" data-zoom-image="~/images/trending_02.jpg">
                                                <img src="~/images/trending_02.jpg" alt="">
                                            </a>
                                            <a class="image-thumb" href="~/images/trending_06.jpg" data-image="./~/images/trending_06.jpg" data-zoom-image="~/images/trending_06.jpg">
                                                <img src="~/images/trending_06.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="vertical-slider"></div>
                                </div>
                            </div>
                            <div class="col-md-6 product-information">
                                <div id="quick-shop-container">
                                    <h3 id="quick-shop-title"><a href="product.html">Today's trending</a></h3>
                                    <div class="rating-star"><span class="shopify-product-reviews-badge" data-id="6537875078"></span></div>
                                    <div class="description">
                                        <div id="quick-shop-description" class="text-left">
                                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis amet...</p>
                                        </div>
                                    </div>
                                    <form action="http://demo.themeforshop.com/html_sarahmarket/demo/cart.html" method="post" class="variants" id="quick-shop-product-actions" enctype="multipart/form-data">
                                        <div id="quick-shop-price-container" class="detail-price">
                                            <del class="price_compare" style="font-family:currencies">
                                                <span class="money" data-currency-usd="$300.00" data-currency="USD">$300.00</span>
                                            </del>
                                            <span class="price_sale" style="font-family:currencies">
                                                <span class="money" data-currency-usd="$259.00" data-currency="USD">$259.00</span>
                                            </span>
                                        </div>
                                        <div class="quantity-wrapper clearfix">
                                            <label class="wrapper-title">Quantity</label>
                                            <div class="wrapper">
                                                <span class="qty-down" title="Decrease" data-src="#qs-quantity">
                                                    <i class="fa fa-minus"></i>
                                                </span>
                                                <input type="text" id="qs-quantity" size="5" class="item-quantity item-quantity-qs" name="quantity" value="1">
                                                <span class="qty-up" title="Increase" data-src="#qs-quantity">
                                                    <i class="fa fa-plus"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div id="quick-shop-variants-container" class="variants-wrapper" style="display: block;">
                                            <div class="selector-wrapper">
                                                <label for="quick-shop-variants-6537875078-option-0">Color</label>
                                                <select class="single-option-selector" data-option="option1" id="quick-shop-variants-6537875078-option-0">
                                                    <option value="black">black</option>
                                                    <option value="red">red</option>
                                                    <option value="blue">blue</option>
                                                    <option value="purple">purple</option>
                                                    <option value="green">green</option>
                                                    <option value="white">white</option>
                                                </select>
                                            </div>
                                            <div class="selector-wrapper">
                                                <label for="quick-shop-variants-6537875078-option-1">Size</label>
                                                <select class="single-option-selector" data-option="option2" id="quick-shop-variants-6537875078-option-1">
                                                    <option value="S">S</option>
                                                    <option value="M">M</option>
                                                    <option value="L">L</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="others-bottom">
                                            <input id="quick-shop-add" onclick="change_qs_quantity('-qs');" class="btn btn-1 small add-to-cart" type="submit" name="add" value="Buy Now" style="opacity: 1;">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Float right icon -->
        <div class="float-right-icon">
            <ul>
                <li>
                    <div id="scroll-to-top" data-toggle="" data-placement="left" title="Scroll to Top" class="off">
                        <i class="fa fa-angle-up"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- footer -->
    <partial name="~/Views/inc/_Footer.cshtml" />

    <environment include="Development">
        <script type="text/javascript" src="~/lib/jquery/js/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery/js/jquery.currencies.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery/js/jquery.zoom.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery/js/jquery.touchSwipe.min.js"></script>
        <script type="text/javascript" src="~/lib/owl-carousel/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/cs.optionSelect.js"></script>
        <script type="text/javascript" src="~/js/cs.script.js"></script>
        <script type="text/javascript" src="~/js/linkOptionSelectors.js"></script>
        <script type="text/javascript" src="~/js/scripts.js"></script>
        <script type="text/javascript" src="~/js/social-buttons.js"></script>
        <!-- header affix -->
        <script type="text/javascript" src="~/js/affix.js"></script>
        <!-- header mobile navigation -->
        <script type="text/javascript" src="~/js/navigation.mobile.js"></script>

    </environment>
    <environment exclude="Development">
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
