@{
    ViewData["Title"] = "About";
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/pages/about.css">
}


<section class="collection-heading heading-content ">
    <div class="container">
        <div class="row">
            <div class="collection-wrapper">
                <h1 class="collection-title"><span>About</span></h1>
                <div class="breadcrumb-group">
                    <div class="breadcrumb clearfix">
                        <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a href="./index.html" title="Sarahmarket 1" itemprop="url"><span itemprop="title">Home</span></a>
                        </span>
                        <span class="arrow-space">/</span>
                        <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a href="./services.html" title="Services" itemprop="url"><span itemprop="title">About</span></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="shopify-section-template-about" class="shopify-section">
    <div class="about-us style2">
        <div class="container page-about">
            <div class="row">
                <div class="col-md-12 welcome-about-us banners">
                    <div class="content-about-us">
                        <a href="#" title="mbf">
                            <div class="image-about-us col-md-12 col-sm-12">
                                <img class="img-responsive" alt="mbf" src="//placehold.it/1650x500">
                            </div>
                        </a>
                        <div class="content-about col-md-12 col-sm-12">
                            <div class="title-about-us">
                                <h2>Title</h2>
                            </div>
                            <div class="des-about-us">
                                <p>Lorem Khaled Ipsum is a major key to success. Eliptical talk. The key to more success is to get a massage once a week, very important, major key, cloth talk. Mogul talk. Cloth talk. I’m giving you cloth talk, cloth. Special cloth alert, cut from a special cloth. In life you have to take the trash out, if you have trash in your life, take it out, throw it away, get rid of it, major key. Surround yourself with angels.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_wrapper">
            </div>
        </div>
        <div class="container about-service">
            <div class="container">
                <div class="wrap">
                    <div class="row">
                        <div class="item col-md-4 col-xs-12">
                            <div class="item_wrap">
                                <div class="image service">
                                    <img class="lazyautosizes lazyloaded" data-sizes="auto" src="//cdn.shopify.com/s/files/1/0058/5370/8399/t/2/assets/Forma_11.png?720" data-src="//cdn.shopify.com/s/files/1/0058/5370/8399/t/2/assets/Forma_11.png?720" sizes="54px"> </div>
                                <h3>Strategy &amp; Marketing</h3>
                                <div class="des">Lorem Khaled Ipsum is a major key to success. Eliptical talk. The key to more success is to get a massage once a week, very important, major key, cloth talk.</div>
                            </div>
                        </div>
                        <div class="item col-md-4 col-xs-12">
                            <div class="item_wrap">
                                <div class="image service">
                                    <img class="lazyautosizes lazyloaded" data-sizes="auto" src="//cdn.shopify.com/s/files/1/0058/5370/8399/t/2/assets/Forma_1.png?720" data-src="//cdn.shopify.com/s/files/1/0058/5370/8399/t/2/assets/Forma_1.png?720" sizes="41px">
                                </div>
                                <h3>interaction design</h3>
                                <div class="des">Lorem Khaled Ipsum is a major key to success. Eliptical talk. The key to more success is to get a massage once a week, very important, major key, cloth talk.</div>
                            </div>
                        </div>
                        <div class="item col-md-4 col-xs-12">
                            <div class="item_wrap">
                                <div class="image service">
                                    <img class="lazyautosizes lazyloaded" data-sizes="auto" src="//cdn.shopify.com/s/files/1/0058/5370/8399/t/2/assets/Shape_1.png?720" data-src="//cdn.shopify.com/s/files/1/0058/5370/8399/t/2/assets/Shape_1.png?720" sizes="49px">
                                </div>
                                <h3>WEb Development</h3>
                                <div class="des">Lorem Khaled Ipsum is a major key to success. Eliptical talk. The key to more success is to get a massage once a week, very important, major key, cloth talk. </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="_line"></div>
        <div class="container about-policy banners">
            <div class="container">
                <div class="wrap">
                    <div class="row">
                        <div class="item col-md-4 col-xs-12">
                            <div class="item_wrap">
                                <div class="image service">
                                    <a href="#" title="mbf">
                                        <img class="img-responsive" alt="mbf" src="//placehold.it/530X340">
                                    </a>
                                    <h3>WHAT WE REALLY DO?</h3>
                                    <div class="des">Get all the best deals, sales and offers from the best online shopping store in UAE. Sign up now !</div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-4 col-xs-12">
                            <div class="item_wrap">
                                <div class="image service">
                                    <a href="#" title="mbf">
                                        <img class="img-responsive" alt="mbf" src="//placehold.it/530X340">
                                    </a>
                                    <h3>OUR VERSION</h3>
                                    <div class="des">Get all the best deals, sales and offers from the best online shopping store in UAE. Sign up now !</div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-4 col-xs-12">
                            <div class="item_wrap">
                                <div class="image service">
                                    <a href="#" title="mbf">
                                        <img class="img-responsive" alt="mbf" src="//placehold.it/530X340">
                                    </a>
                                    <h3>HISTORY OF BEGINNING</h3>
                                    <div class="des">Get all the best deals, sales and offers from the best online shopping store in UAE. Sign up now ! </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="our-member">
        <div class="container">
            <div class="wrap">
                <div class="title-about-us">
                    <h2>Our Member</h2>
                </div>
                <div class="dshort-des"> Lorem Khaled Ipsum is a major key to success. Eliptical talk. The key to more success is to get a massage once a week </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-6">
                        <div class="item-inner">
                            <div class="w-image-box">
                                <img class="img-responsive" alt="mbf" src="//placehold.it/160x160">
                            </div>
                            <div class="info-member">
                                <div class="item-content">
                                    <h2 class="cl-name"><a title="Jennifer lawrence" href="#">Jennifer lawrence</a></h2>
                                    <p class="cl-job">Tech Leader</p>
                                </div>
                                <div class="socials-wraps ">
                                    <ul>
                                        <li class="facebook"><a class="_blank" href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a class="_blank" href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li class="google_plus"><a class="_blank" href="#" target="_blank"><i class="fa  fa-google-plus"></i></a></li>
                                        <li class="dribbble"><a class="_blank" href="#" target="_blank"><i class="fa  fa-dribbble"></i></a></li>
                                        <li class="linkedin"><a class="_blank" href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-6">
                        <div class="item-inner">
                            <div class="w-image-box">
                                <img class="img-responsive" alt="mbf" src="//placehold.it/160x160">
                            </div>
                            <div class="info-member">
                                <div class="item-content">
                                    <h2 class="cl-name"><a title="Jennifer lawrence" href="#">George Scoots</a></h2>
                                    <p class="cl-job">Tech Leader</p>
                                </div>
                                <div class="socials-wraps ">
                                    <ul>
                                        <li class="facebook"><a class="_blank" href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a class="_blank" href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li class="google_plus"><a class="_blank" href="#" target="_blank"><i class="fa  fa-google-plus"></i></a></li>
                                        <li class="dribbble"><a class="_blank" href="#" target="_blank"><i class="fa  fa-dribbble"></i></a></li>
                                        <li class="linkedin"><a class="_blank" href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-6">
                        <div class="item-inner">
                            <div class="w-image-box">
                                <img class="img-responsive" alt="mbf" src="//placehold.it/160x160">
                            </div>
                            <div class="info-member">
                                <div class="item-content">
                                    <h2 class="cl-name"><a title="Jennifer lawrence" href="#">George Scoots</a></h2>
                                    <p class="cl-job">Tech Leader</p>
                                </div>
                                <div class="socials-wraps ">
                                    <ul>
                                        <li class="facebook"><a class="_blank" href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a class="_blank" href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li class="google_plus"><a class="_blank" href="#" target="_blank"><i class="fa  fa-google-plus"></i></a></li>
                                        <li class="dribbble"><a class="_blank" href="#" target="_blank"><i class="fa  fa-dribbble"></i></a></li>
                                        <li class="linkedin"><a class="_blank" href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-6">
                        <div class="item-inner">
                            <div class="w-image-box">
                                <img class="img-responsive" alt="mbf" src="//placehold.it/160x160">
                            </div>
                            <div class="info-member">
                                <div class="item-content">
                                    <h2 class="cl-name"><a title="Jennifer lawrence" href="#">Jennifer lawrence</a></h2>
                                    <p class="cl-job">Tech Leader</p>
                                </div>
                                <div class="socials-wraps ">
                                    <ul>
                                        <li class="facebook"><a class="_blank" href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a class="_blank" href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li class="google_plus"><a class="_blank" href="#" target="_blank"><i class="fa  fa-google-plus"></i></a></li>
                                        <li class="dribbble"><a class="_blank" href="#" target="_blank"><i class="fa  fa-dribbble"></i></a></li>
                                        <li class="linkedin"><a class="_blank" href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .main-content {
            padding-bottom: 0 !important;
        }
    </style>
</div>
