		<main class="main-content" id="MainContent" role="main">
			<section class="collection-heading heading-content ">
				<div class="container">
					<div class="row">
						<div class="collection-wrapper">
							<h1 class="collection-title"><span>All Collections</span></h1>
							<div class="breadcrumb-group">
								<div class="breadcrumb clearfix">
									<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="index.html" title="Bridal 1" itemprop="url"><span itemprop="title">Home</span></a>
									</span>
									<span class="arrow-space">></span>
									<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
										<a href="collections.html" title="List Collection" itemprop="url">
											<span itemprop="title">List Collection</span>
										</a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="list-collection-content">
				<div class="list-collections-wrapper">
					<div class="container">
						<div class="row">
							<div class="products-wrapper">
								<div class="products-wrapper-inner">
									<div class="products masonry">
										<div class="col-sm-4 col-xs-12">
											<div class="product ">
												<!-- Begin product image -->
												<div class="image">
													<img src="assets/images/digital_03.jpg" alt="hair styles">
													<div class="hover_button">
														<a href="collections-all.html">
															View More
														</a>
													</div>
												</div>
												<!-- End product image -->
												<!-- Begin product description -->
												<div class="col-info">
													<h4 class="title">Best Sellers</h4>
													<span class="price">8  products</span>
												</div>
												<!-- End product description -->
											</div>
										</div>
										<div class="col-sm-4 col-xs-12">
											<div class="product ">
												<!-- Begin product image -->
												<div class="image">
													<img src="assets/images/digital_01.jpg" alt="Men's Vest Wedding">
													<div class="hover_button">
														<a href="collections-all.html">
															View More
														</a>
													</div>
												</div>
												<!-- End product image -->
												<!-- Begin product description -->
												<div class="col-info">
													<h4 class="title">Digital</h4>
													<span class="price">16  products</span>
												</div>
												<!-- End product description -->
											</div>
										</div>
										<div class="col-sm-4 col-xs-12">
											<div class="product ">
												<!-- Begin product image -->
												<div class="image">
													<img src="assets/images/electronic_04.jpg" alt="Services Wedding decorations">
													<div class="hover_button">
														<a href="collections-all.html">
															View More
														</a>
													</div>
												</div>
												<!-- End product image -->
												<!-- Begin product description -->
												<div class="col-info">
													<h4 class="title">Electronic</h4>
													<span class="price">8  products</span>
												</div>
												<!-- End product description -->
											</div>
										</div>
										<div class="col-sm-4 col-xs-12">
											<div class="product ">
												<!-- Begin product image -->
												<div class="image">
													<img src="assets/images/fashions_01.jpg" alt="Shop Sidebar">
													<div class="hover_button">
														<a href="collections-all.html">
															View More
														</a>
													</div>
												</div>
												<!-- End product image -->
												<!-- Begin product description -->
												<div class="col-info">
													<h4 class="title">Fashions</h4>
													<span class="price">7  products</span>
												</div>
												<!-- End product description -->
											</div>
										</div>
										<div class="col-sm-4 col-xs-12">
											<div class="product ">
												<!-- Begin product image -->
												<div class="image">
													<img src="assets/images/furniture_04.jpg" alt="Shop Wide">
													<div class="hover_button">
														<a href="collections-all.html">
															View More
														</a>
													</div>
												</div>
												<!-- End product image -->
												<!-- Begin product description -->
												<div class="col-info">
													<h4 class="title">Furniture</h4>
													<span class="price">12  products</span>
												</div>
												<!-- End product description -->
											</div>
										</div>
										<div class="col-sm-4 col-xs-12">
											<div class="product ">
												<!-- Begin product image -->
												<div class="image">
													<img src="assets/images/trending_15.jpg" alt="wedding dresses">
													<div class="hover_button">
														<a href="collections-all.html">
															View More
														</a>
													</div>
												</div>
												<!-- End product image -->
												<!-- Begin product description -->
												<div class="col-info">
													<h4 class="title">Maybe You Prefer</h4>
													<span class="price">12  products</span>
												</div>
												<!-- End product description -->
											</div>
										</div>
										<div class="col-sm-4 col-xs-12">
											<div class="product ">
												<!-- Begin product image -->
												<div class="image">
													<img src="assets/images/trending_05.jpg" alt="wedding flowers">
													<div class="hover_button">
														<a href="collections-all.html">
															View More
														</a>
													</div>
												</div>
												<!-- End product image -->
												<!-- Begin product description -->
												<div class="col-info">
													<h4 class="title">New Products</h4>
													<span class="price">9  products</span>
												</div>
												<!-- End product description -->
											</div>
										</div>
										<div class="col-sm-4 col-xs-12">
											<div class="product ">
												<!-- Begin product image -->
												<div class="image">
													<img src="assets/images/sport_04.jpg" alt="wedding foods">
													<div class="hover_button">
														<a href="collections-all.html">
															View More
														</a>
													</div>
												</div>
												<!-- End product image -->
												<!-- Begin product description -->
												<div class="col-info">
													<h4 class="title">Sport</h4>
													<span class="price">12  products</span>
												</div>
												<!-- End product description -->
											</div>
										</div>
										<div class="col-sm-4 col-xs-12">
											<div class="product ">
												<!-- Begin product image -->
												<div class="image">
													<img src="assets/images/trending_11.jpg" alt="wedding foods">
													<div class="hover_button">
														<a href="collections-all.html">
															View More
														</a>
													</div>
												</div>
												<!-- End product image -->
												<!-- Begin product description -->
												<div class="col-info">
													<h4 class="title">Today's Trending</h4>
													<span class="price">12  products</span>
												</div>
												<!-- End product description -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>