<div class="container">
  <div class="wraper-inner sn">
    <div class="row">

      <div class="col-12 col-sm-6">

        <div class="formaccount formlogin">
          <div id="login" style="display: none;">
            <h1 class="page-title">Login</h1>
            <form method="post" action="/account/login" id="customer_login" accept-charset="UTF-8"><input type="hidden" name="form_type" value="customer_login"><input type="hidden" name="utf8" value="✓">
            

            <div class="form-group">
              <label for="email">Email <sup>*</sup></label>
              <input type="email" name="customer[email]" class="form-control" id="email">
            </div>

            
            <div class="form-group">
              <label for="password">Password <sup>*</sup></label>
              <input type="password" name="customer[password]" class="form-control" id="password">
            </div>
            
            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-default"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</button>
              </div>
            </div>  
            <br>
            
            <p class="btn-top"><a href="#" onclick="showRecoverPasswordForm();return false;" class="link-color">Forgot your password?</a></p>
            
            </form>

          </div>

          <div id="recover-password" style="display: block;" class="wrap">

            <div class="block">
              <h1 class="page-title">Reset your password</h1>
              <p>We will send you an email to reset your password.</p>
            </div>

            <div class="form-vertical">
              <form method="post" action="/account/recover" accept-charset="UTF-8"><input type="hidden" name="form_type" value="recover_customer_password"><input type="hidden" name="utf8" value="✓">

              

              
              

              
              <div class="form-group">
                <label for="RecoverEmail">Email</label>
              <input type="email" value="" name="email" id="RecoverEmail" class="form-control" autocorrect="off" autocapitalize="off">
              </div>
              <div class="submit">
                <p>
                  <input type="submit" class="btn btn-default" value="Submit">
                </p>
              </div>
              or
              <a class="" href="#" onclick="hideRecoverPasswordForm();return false;">Cancel</a>
              </form>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="formaccount formlogin block">
          <h1 class="page-title">Create Account</h1>
          <div class="formcontent">
            <div class="registerdescription">
              <p>Sign up for a free account. Registration is quick and easy. It allows you to be able to order from our shop. To start shopping click register.</p>
            </div>
            <div class="submit">
              <a class="btn btn-default" href="/account/register">
                <i class="fa fa-user-plus" aria-hidden="true"></i><span>Create An Account</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'block';
    document.getElementById('login').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('login').style.display = 'block';
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>