

<h1>Menu Index</h1>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/collection">Collection</a></li>
    <li></li><a href="/categoy">Category</a></li>
    <li></li><a href="/product/1">Product</a></li>
    <li></li><a href="/1/cart">Cart</a></li>
</ul>




