@{Layout=null;}

<h1>Menu Index</h1>
<ul>
    <li><a href="/index">Home</a></li>
    <li><a href="/collection">Collection</a></li>
    <li><a href="/category">Category</a></li>
    <li><a href="/product/1">Product Details</a></li>
    <li><a href="/1/cart">Cart</a></li>
    <li><a href="#">Order</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/forgetPassword">Forget password</a></li>
    <li><a href="/1/profile">Profile</a></li>
    <li><a href="/1/purchase">Purchase history</a></li>
    <li><a href="/1/checkout">Checkout</a></li>
    <li><a href="#">Coupon</a></li>
    <li><a href="#">Mmy coupon</a></li>
    <li><a href="/wishList">Wish list</a></li>
    <li><a href="/1/commenthistory">comment history</a></li>
    <li><a href="/policy">term and policy</a></li>
    <li><a href="/contact">contact</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/blog">blog</a></li>
    <li><a href="/blog/1">blog details</a></li>

</ul>




