@section stylesheet {
    <link rel="stylesheet" href="~/css/pages/search.result.css">
}

<main class="main-content" id="MainContent" role="main">
    <section class="collection-heading heading-content ">
        <div class="container">
            <div class="row">
                <div class="collection-wrapper">
                    <h1 class="collection-title"><span>Search Page</span></h1>
                    <div class="breadcrumb-group">
                        <div class="breadcrumb clearfix">
                            <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="./index.html" title="Bridal 1" itemprop="url"><span itemprop="title">Home</span></a>
                            </span>
                            <span class="arrow-space">&gt;</span>
                            <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                <a href="./search.html" title="Search for:  'Electronic equipment'" itemprop="url">
                                    <span itemprop="title">Search for: "Electronic equipment"</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="search-content">
        <div class="search-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="search-content-group">
                        <div class="search-content-inner">
                            <div id="search">
                                <!-- Begin results -->
                                <div class="product-item-wrapper col-sm-3">
                                    <div class="row-container product list-unstyled clearfix">
                                        <div class="row-left">
                                            <a href="./product.html" class="hoverBorder container_item">
                                                <div class="hoverBorderWrapper">
                                                    <img src="./~/images/electronic_01.jpg" class="not-rotation img-responsive front" alt="Electronic equipment">
                                                    <div class="mask"></div>
                                                    <img src="./~/images/electronic_02.jpg" class="rotation img-responsive" alt="Electronic equipment">
                                                </div>
                                            </a>
                                            <div class="hover-mask">
                                                <div class="group-mask">
                                                    <div class="inner-mask">
                                                        <div class="group-actionbutton">
                                                            <form action="./product.html" method="post">
                                                                <div class="effect-ajax-cart">
                                                                    <input type="hidden" name="quantity" value="1">
                                                                    <button class="btn select-option" type="button" onclick="window.location='./product.html';"><i class="fa fa-bars"></i></button>
                                                                </div>
                                                            </form>
                                                            <ul class="quickview-wishlist-wrapper">
                                                                <li class="quickview hidden-xs hidden-sm">
                                                                    <div class="product-ajax-cart">
                                                                        <span class="overlay_mask"></span>
                                                                        <div data-handle="navy-peak-dresses-2" data-target="#quick-shop-modal" class="quick_shop" data-toggle="modal">
                                                                            <a class=""><i class="fa fa-search" title="Quick View"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="wishlist hidden-xs">
                                                                    <a class="wish-list" data-toggle="modal" data-target="#modalNeedToWishlist">
                                                                        <span class="hidden-xs"><i class="fa fa-heart" title="Wishlist"></i></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!--inner-mask-->
                                                </div>
                                                <!--Group mask-->
                                            </div>
                                        </div>
                                        <div class="row-right animMix">
                                            <div class="product-title"><a class="title-5" href="./product.html">Electronic equipment</a></div>
                                            <div class="rating-star">
                                                <span class="spr-badge" data-rating="0.0"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i></span><span class="spr-badge-caption">No reviews</span>
                                                </span>
                                            </div>
                                            <div class="product-price">
                                                <span class="price_sale"><span class="money" data-currency-usd="$110.00">$110.00</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item-wrapper col-sm-3">
                                    <div class="row-container product list-unstyled clearfix">
                                        <div class="row-left">
                                            <a href="./product.html" class="hoverBorder container_item">
                                                <div class="hoverBorderWrapper">
                                                    <img src="./~/images/electronic_03.jpg" class="not-rotation img-responsive front" alt="Electronic equipment">
                                                    <div class="mask"></div>
                                                    <img src="./~/images/electronic_04.jpg" class="rotation img-responsive" alt="Electronic equipment">
                                                </div>
                                            </a>
                                            <span class="sale_banner">
                                                <span class="sale_text">-50.0%</span>
                                            </span>
                                            <div class="hover-mask">
                                                <div class="group-mask">
                                                    <div class="inner-mask">
                                                        <div class="group-actionbutton">
                                                            <form action="./product.html" method="post">
                                                                <div class="effect-ajax-cart">
                                                                    <input type="hidden" name="quantity" value="1">
                                                                    <button class="btn select-option" type="button" onclick="window.location='./product.html';"><i class="fa fa-bars"></i></button>
                                                                </div>
                                                            </form>
                                                            <ul class="quickview-wishlist-wrapper">
                                                                <li class="quickview hidden-xs hidden-sm">
                                                                    <div class="product-ajax-cart">
                                                                        <span class="overlay_mask"></span>
                                                                        <div data-handle="navy-peak-dresses-1" data-target="#quick-shop-modal" class="quick_shop" data-toggle="modal">
                                                                            <a class=""><i class="fa fa-search" title="Quick View"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="wishlist hidden-xs">
                                                                    <a class="wish-list" data-toggle="modal" data-target="#modalNeedToWishlist">
                                                                        <span class="hidden-xs"><i class="fa fa-heart" title="Wishlist"></i></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!--inner-mask-->
                                                </div>
                                                <!--Group mask-->
                                            </div>
                                        </div>
                                        <div class="row-right animMix">
                                            <div class="product-title"><a class="title-5" href="./product.html">Electronic equipment</a></div>
                                            <div class="rating-star">
                                                <span class="spr-badge" data-rating="0.0"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i></span><span class="spr-badge-caption">No reviews</span>
                                                </span>
                                            </div>
                                            <div class="product-price">
                                                <span class="price_sale"><span class="money" data-currency-usd="$110.00">$110.00</span></span>
                                                <del class="price_compare"> <span class="money" data-currency-usd="$220.00">$220.00</span></del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item-wrapper col-sm-3">
                                    <div class="row-container product list-unstyled clearfix">
                                        <div class="row-left">
                                            <a href="./product.html" class="hoverBorder container_item">
                                                <div class="hoverBorderWrapper">
                                                    <img src="./~/images/electronic_05.jpg" class="not-rotation img-responsive front" alt="Electronic equipment">
                                                    <div class="mask"></div>
                                                    <img src="./~/images/electronic_09.jpg" class="rotation img-responsive" alt="Electronic equipment">
                                                </div>
                                            </a>
                                            <div class="hover-mask">
                                                <div class="group-mask">
                                                    <div class="inner-mask">
                                                        <div class="group-actionbutton">
                                                            <form action="./product.html" method="post">
                                                                <div class="effect-ajax-cart">
                                                                    <input type="hidden" name="quantity" value="1">
                                                                    <button class="btn select-option" type="button" onclick="window.location='./product.html';"><i class="fa fa-bars"></i></button>
                                                                </div>
                                                            </form>
                                                            <ul class="quickview-wishlist-wrapper">
                                                                <li class="quickview hidden-xs hidden-sm">
                                                                    <div class="product-ajax-cart">
                                                                        <span class="overlay_mask"></span>
                                                                        <div data-handle="navy-peak-dresses-4" data-target="#quick-shop-modal" class="quick_shop" data-toggle="modal">
                                                                            <a class=""><i class="fa fa-search" title="Quick View"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="wishlist hidden-xs">
                                                                    <a class="wish-list" data-toggle="modal" data-target="#modalNeedToWishlist">
                                                                        <span class="hidden-xs"><i class="fa fa-heart" title="Wishlist"></i></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!--inner-mask-->
                                                </div>
                                                <!--Group mask-->
                                            </div>
                                        </div>
                                        <div class="row-right animMix">
                                            <div class="product-title"><a class="title-5" href="./product.html">Electronic equipment</a></div>
                                            <div class="rating-star">
                                                <span class="spr-badge" data-rating="0.0"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i></span><span class="spr-badge-caption">No reviews</span>
                                                </span>
                                            </div>
                                            <div class="product-price">
                                                <span class="price_sale"><span class="money" data-currency-usd="$110.00">$110.00</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item-wrapper col-sm-3">
                                    <div class="row-container product list-unstyled clearfix">
                                        <div class="row-left">
                                            <a href="./product.html" class="hoverBorder container_item">
                                                <div class="hoverBorderWrapper">
                                                    <img src="./~/images/electronic_06.jpg" class="not-rotation img-responsive front" alt="Electronic equipment">
                                                    <div class="mask"></div>
                                                    <img src="./~/images/electronic_01.jpg" class="rotation img-responsive" alt="Electronic equipment">
                                                </div>
                                            </a>
                                            <div class="hover-mask">
                                                <div class="group-mask">
                                                    <div class="inner-mask">
                                                        <div class="group-actionbutton">
                                                            <form action="./product.html" method="post">
                                                                <div class="effect-ajax-cart">
                                                                    <input type="hidden" name="quantity" value="1">
                                                                    <button class="btn select-option" type="button" onclick="window.location='./product.html';"><i class="fa fa-bars"></i></button>
                                                                </div>
                                                            </form>
                                                            <ul class="quickview-wishlist-wrapper">
                                                                <li class="quickview hidden-xs hidden-sm">
                                                                    <div class="product-ajax-cart">
                                                                        <span class="overlay_mask"></span>
                                                                        <div data-handle="navy-peak-dresses" data-target="#quick-shop-modal" class="quick_shop" data-toggle="modal">
                                                                            <a class=""><i class="fa fa-search" title="Quick View"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="wishlist hidden-xs">
                                                                    <a class="wish-list" data-toggle="modal" data-target="#modalNeedToWishlist">
                                                                        <span class="hidden-xs"><i class="fa fa-heart" title="Wishlist"></i></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!--inner-mask-->
                                                </div>
                                                <!--Group mask-->
                                            </div>
                                        </div>
                                        <div class="row-right animMix">
                                            <div class="product-title"><a class="title-5" href="./product.html">Electronic equipment</a></div>
                                            <div class="rating-star">
                                                <span class="spr-badge" data-rating="0.0"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i></span><span class="spr-badge-caption">No reviews</span>
                                                </span>
                                            </div>
                                            <div class="product-price">
                                                <span class="price_sale"><span class="money" data-currency-usd="$110.00">$110.00</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item-wrapper col-sm-3">
                                    <div class="row-container product list-unstyled clearfix">
                                        <div class="row-left">
                                            <a href="./product.html" class="hoverBorder container_item">
                                                <div class="hoverBorderWrapper">
                                                    <img src="./~/images/electronic_07.jpg" class="not-rotation img-responsive front" alt="Electronic equipment">
                                                    <div class="mask"></div>
                                                    <img src="./~/images/electronic_08.jpg" class="rotation img-responsive" alt="Electronic equipment">
                                                </div>
                                            </a>
                                            <div class="hover-mask">
                                                <div class="group-mask">
                                                    <div class="inner-mask">
                                                        <div class="group-actionbutton">
                                                            <form action="./product.html" method="post">
                                                                <div class="effect-ajax-cart">
                                                                    <input type="hidden" name="quantity" value="1">
                                                                    <button class="btn select-option" type="button" onclick="window.location='./product.html';"><i class="fa fa-bars"></i></button>
                                                                </div>
                                                            </form>
                                                            <ul class="quickview-wishlist-wrapper">
                                                                <li class="quickview hidden-xs hidden-sm">
                                                                    <div class="product-ajax-cart">
                                                                        <span class="overlay_mask"></span>
                                                                        <div data-handle="navy-peak-dresses-6" data-target="#quick-shop-modal" class="quick_shop" data-toggle="modal">
                                                                            <a class=""><i class="fa fa-search" title="Quick View"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="wishlist hidden-xs">
                                                                    <a class="wish-list" data-toggle="modal" data-target="#modalNeedToWishlist">
                                                                        <span class="hidden-xs"><i class="fa fa-heart" title="Wishlist"></i></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!--inner-mask-->
                                                </div>
                                                <!--Group mask-->
                                            </div>
                                        </div>
                                        <div class="row-right animMix">
                                            <div class="product-title"><a class="title-5" href="./product.html">Electronic equipment</a></div>
                                            <div class="rating-star">
                                                <span class="spr-badge" data-rating="3.0"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i></span><span class="spr-badge-caption">2 reviews</span>
                                                </span>
                                            </div>
                                            <div class="product-price">
                                                <span class="price_sale"><span class="money" data-currency-usd="$110.00">$110.00</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item-wrapper col-sm-3">
                                    <div class="row-container product list-unstyled clearfix">
                                        <div class="row-left">
                                            <a href="./product.html" class="hoverBorder container_item">
                                                <div class="hoverBorderWrapper">
                                                    <img src="./~/images/digital_03.jpg" class="not-rotation img-responsive front" alt="Electronic equipment">
                                                    <div class="mask"></div>
                                                    <img src="./~/images/digital_10.jpg" class="rotation img-responsive" alt="Electronic equipment">
                                                </div>
                                            </a>
                                            <div class="hover-mask">
                                                <div class="group-mask">
                                                    <div class="inner-mask">
                                                        <div class="group-actionbutton">
                                                            <form action="./product.html" method="post">
                                                                <div class="effect-ajax-cart">
                                                                    <input type="hidden" name="quantity" value="1">
                                                                    <button class="btn select-option" type="button" onclick="window.location='./product.html';"><i class="fa fa-bars"></i></button>
                                                                </div>
                                                            </form>
                                                            <ul class="quickview-wishlist-wrapper">
                                                                <li class="quickview hidden-xs hidden-sm">
                                                                    <div class="product-ajax-cart">
                                                                        <span class="overlay_mask"></span>
                                                                        <div data-handle="navy-peak-dresses-7" data-target="#quick-shop-modal" class="quick_shop" data-toggle="modal">
                                                                            <a class=""><i class="fa fa-search" title="Quick View"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="wishlist hidden-xs">
                                                                    <a class="wish-list" data-toggle="modal" data-target="#modalNeedToWishlist">
                                                                        <span class="hidden-xs"><i class="fa fa-heart" title="Wishlist"></i></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!--inner-mask-->
                                                </div>
                                                <!--Group mask-->
                                            </div>
                                        </div>
                                        <div class="row-right animMix">
                                            <div class="product-title"><a class="title-5" href="./product.html">Electronic equipment</a></div>
                                            <div class="rating-star">
                                                <span class="spr-badge" data-rating="0.0"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i></span><span class="spr-badge-caption">No reviews</span>
                                                </span>
                                            </div>
                                            <div class="product-price">
                                                <span class="price_sale"><span class="money" data-currency-usd="$110.00">$110.00</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item-wrapper col-sm-3">
                                    <div class="row-container product list-unstyled clearfix">
                                        <div class="row-left">
                                            <a href="./product.html" class="hoverBorder container_item">
                                                <div class="hoverBorderWrapper">
                                                    <img src="./~/images/digital_02.jpg" class="not-rotation img-responsive front" alt="Electronic equipment">
                                                    <div class="mask"></div>
                                                    <img src="./~/images/electronic_01.jpg" class="rotation img-responsive" alt="Electronic equipment">
                                                </div>
                                            </a>
                                            <span class="sale_banner">
                                                <span class="sale_text">-50.0%</span>
                                            </span>
                                            <div class="hover-mask">
                                                <div class="group-mask">
                                                    <div class="inner-mask">
                                                        <div class="group-actionbutton">
                                                            <form action="./product.html" method="post">
                                                                <div class="effect-ajax-cart">
                                                                    <input type="hidden" name="quantity" value="1">
                                                                    <button class="btn select-option" type="button" onclick="window.location='./product.html';"><i class="fa fa-bars"></i></button>
                                                                </div>
                                                            </form>
                                                            <ul class="quickview-wishlist-wrapper">
                                                                <li class="quickview hidden-xs hidden-sm">
                                                                    <div class="product-ajax-cart">
                                                                        <span class="overlay_mask"></span>
                                                                        <div data-handle="navy-peak-dresses-3" data-target="#quick-shop-modal" class="quick_shop" data-toggle="modal">
                                                                            <a class=""><i class="fa fa-search" title="Quick View"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="wishlist hidden-xs">
                                                                    <a class="wish-list" data-toggle="modal" data-target="#modalNeedToWishlist">
                                                                        <span class="hidden-xs"><i class="fa fa-heart" title="Wishlist"></i></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!--inner-mask-->
                                                </div>
                                                <!--Group mask-->
                                            </div>
                                        </div>
                                        <div class="row-right animMix">
                                            <div class="product-title"><a class="title-5" href="./product.html">Electronic equipment</a></div>
                                            <div class="rating-star">
                                                <span class="spr-badge" data-rating="5.0"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span><span class="spr-badge-caption">1 review</span>
                                                </span>
                                            </div>
                                            <div class="product-price">
                                                <span class="price_sale"><span class="money" data-currency-usd="$110.00">$110.00</span></span>
                                                <del class="price_compare"> <span class="money" data-currency-usd="$220.00">$220.00</span></del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-item-wrapper col-sm-3">
                                    <div class="row-container product list-unstyled clearfix">
                                        <div class="row-left">
                                            <a href="./product.html" class="hoverBorder container_item">
                                                <div class="hoverBorderWrapper">
                                                    <img src="./~/images/electronic_08.jpg" class="not-rotation img-responsive front" alt="Electronic equipment">
                                                    <div class="mask"></div>
                                                    <img src="./~/images/electronic_07.jpg" class="rotation img-responsive" alt="Electronic equipment">
                                                </div>
                                            </a>
                                            <div class="hover-mask">
                                                <div class="group-mask">
                                                    <div class="inner-mask">
                                                        <div class="group-actionbutton">
                                                            <form action="./product.html" method="post">
                                                                <div class="effect-ajax-cart">
                                                                    <input type="hidden" name="quantity" value="1">
                                                                    <button class="btn select-option" type="button" onclick="window.location='./product.html';"><i class="fa fa-bars"></i></button>
                                                                </div>
                                                            </form>
                                                            <ul class="quickview-wishlist-wrapper">
                                                                <li class="quickview hidden-xs hidden-sm">
                                                                    <div class="product-ajax-cart">
                                                                        <span class="overlay_mask"></span>
                                                                        <div data-handle="navy-peak-dresses-5" data-target="#quick-shop-modal" class="quick_shop" data-toggle="modal">
                                                                            <a class=""><i class="fa fa-search" title="Quick View"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="wishlist hidden-xs">
                                                                    <a class="wish-list" data-toggle="modal" data-target="#modalNeedToWishlist">
                                                                        <span class="hidden-xs"><i class="fa fa-heart" title="Wishlist"></i></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!--inner-mask-->
                                                </div>
                                                <!--Group mask-->
                                            </div>
                                        </div>
                                        <div class="row-right animMix">
                                            <div class="product-title"><a class="title-5" href="./product.html">Electronic equipment</a></div>
                                            <div class="rating-star">
                                                <span class="spr-badge" data-rating="0.0"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i><i class="spr-icon spr-icon-star-empty" style=""></i></span><span class="spr-badge-caption">No reviews</span>
                                                </span>
                                            </div>
                                            <div class="product-price">
                                                <span class="price_sale"><span class="money" data-currency-usd="$110.00">$110.00</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /#search -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>