<section id="page-search">
    <div class="container">
        <div class="search-wrap">
            <h2 class="page-title">1 result for "ZARIAT SWINE IPSUM"</h2>
            <div class="row">
                <form class="formSearch col-md-6 col-xs-12" action="/search" method="get" style="position: relative;">
                    <input type="hidden" name="type" value="product">
                    <input type="search" name="q" value="ZARIAT SWINE IPSUM" placeholder="Enter keywords here... " class="bingoSearch form-control" autocomplete="off">
                    <button type="submit" class="btn btn-search">
                        <span class="fa fa-search"></span>
                        <span class="btnSearchText">Submit</span>
                    </button>
                    <ul class="box-results" style="position: absolute; left: 0px; top: 29px; display: none;"></ul>
                </form>
            </div>
            <div class="pageProducts">
                <div class="products-listing grid">
                    <div class="row">
                        <div class="product-layout col-xl-2 col-sm-4 col-12">
                            <div class="product-item" data-id="product-1674848927855">
                                <div class="product-item-container grid-view-item   ">
                                    <div class="left-block">
                                        <div class="product-image-container product-image">
                                            <a class="grid-view-item__link image-ajax" href="/products/cupidatat-consec?_pos=1&amp;_sid=71cc6335c&amp;_ss=r">
                                                <img class="img-responsive s-img lazyautosizes lazyloaded" data-sizes="auto" src="//cdn.shopify.com/s/files/1/0058/5370/8399/products/6_cf0c0dd8-ddf3-43f4-9f3c-257c8c2d7724_320x320.png?v=1538972335" data-src="//cdn.shopify.com/s/files/1/0058/5370/8399/products/6_cf0c0dd8-ddf3-43f4-9f3c-257c8c2d7724_320x320.png?v=1538972335" alt="Zariat swine ipsum" sizes="165px">
                                            </a>
                                            <div class="box-countdown">
                                            </div>
                                            <ul class="product-card__bottom product-card__gallery">
                                                <li class="item-img thumb-active" data-src="//cdn.shopify.com/s/files/1/0058/5370/8399/products/6_cf0c0dd8-ddf3-43f4-9f3c-257c8c2d7724_320x320_crop_center.png?v=1538972335">
                                                    <img class="lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="//cdn.shopify.com/s/files/1/0058/5370/8399/products/6_cf0c0dd8-ddf3-43f4-9f3c-257c8c2d7724_40x.png?v=1538972335" alt="Zariat swine ipsum">
                                                </li>
                                                <li class="item-img" data-src="//cdn.shopify.com/s/files/1/0058/5370/8399/products/4_89871fa4-72a9-4eba-8386-42836f631117_320x320_crop_center.png?v=1538972335">
                                                    <img class="lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="//cdn.shopify.com/s/files/1/0058/5370/8399/products/4_89871fa4-72a9-4eba-8386-42836f631117_40x.png?v=1538972335" alt="Zariat swine ipsum">
                                                </li>
                                                <li class="item-img" data-src="//cdn.shopify.com/s/files/1/0058/5370/8399/products/7_69e3bf21-bd1c-46d0-9bbb-a9e21f3dcc5c_320x320_crop_center.png?v=1538972335">
                                                    <img class="lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="//cdn.shopify.com/s/files/1/0058/5370/8399/products/7_69e3bf21-bd1c-46d0-9bbb-a9e21f3dcc5c_40x.png?v=1538972335" alt="Zariat swine ipsum">
                                                </li>
                                            </ul>
                                        </div>
                                        <span class="label-product label-sale"><span class="d-none">Sale</span> -12%</span>
                                    </div>
                                    <div class="right-block">
                                        <div class="button-link">
                                            <div class="btn-button add-to-cart action  ">
                                                <form action="/cart/add" method="post" class="variants" data-id="AddToCartForm-1674848927855" enctype="multipart/form-data">
                                                    <input type="hidden" name="id" value="15484147105903">
                                                    <a class="btn-addToCart grl btn_df" href="javascript:void(0)" title="Add to cart">
                                                        <p class="disable-in-col6">Add to cart</p><i class="fa fa-shopping-basket enable-in-col6"></i>
                                                    </a>
                                                </form>
                                            </div>
                                            <div class="quickview-button">
                                                <a class="quickview iframe-link visible-lg btn_df" href="javascript:void(0)" data-variants_id="15484147105903" data-toggle="modal" data-target="#myModal" data-id="cupidatat-consec" title="Quick View"><i class="fa fa-search"></i></a>
                                            </div>
                                            <div class="product-addto-links">
                                                <a class="btn_df btnProduct added" href="/pages/wishlist" title="Go to wishlist">
                                                    <i class="fa fa-check"></i>
                                                    <span class="hidden-xs hidden-sm hidden-md">Go to wishlist</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <div class="custom-reviews hidden-xs">
                                                <span class="spr-badge" id="spr_badge_1674848927855" data-rating="0.0"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star-empty"></i><i class="spr-icon spr-icon-star-empty"></i><i class="spr-icon spr-icon-star-empty"></i><i class="spr-icon spr-icon-star-empty"></i><i class="spr-icon spr-icon-star-empty"></i></span><span class="spr-badge-caption">No reviews</span>
                                                </span>
                                            </div>
                                            <h4 class="title-product text-truncate"><a class="product-name" href="/products/cupidatat-consec?_pos=1&amp;_sid=71cc6335c&amp;_ss=r">Zariat swine ipsum</a></h4>
                                            <div class="price">
                                                <!-- snippet/product-price.liquid -->
                                                <span class="visually-hidden">Regular price</span>
                                                <span class="price-new"><span class="money" data-currency-usd="$231.00">$231.00</span></span>
                                                <span class="price-old"> <span class="money" data-currency-usd="$262.00">$262.00</span> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>