		<main class="main-content" id="MainContent" role="main">
			<section class="collection-heading heading-content ">
				<div class="container">
					<div class="row">
						<div class="collection-wrapper">
							<h1 class="collection-title"><span>Wish list</span></h1>
							<div class="breadcrumb-group">
								<div class="breadcrumb clearfix">
									<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="index.html" title="Bridal 1" itemprop="url"><span itemprop="title">Home</span></a>
									</span>
									<span class="arrow-space">></span>
									<span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
										<a href="wish-list.html" title="Wish list" itemprop="url"><span itemprop="title">Wish list</span></a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div id="wish-list">
				<div class="container">
					<div class="row">
						<div id="col-main" class="clearfix">
							<div class="page">
								<div class="table-cart">
									<div class="wrap-table">
										<table class="cart-items haft-border">
											<thead>
												<tr class="top-labels">
													<th class="text-left">Items</th>
													<th>Price</th>
													<th>Remove</th>
													<th>Buy Now</th>
												</tr>
											</thead>
											<tbody>
												<tr class="item wishlist-item">
													<td class="title text-left">
														<ul class="list-inline">
															<li class="image">
																<a class="image text-left" href="product.html">
																	<img src="~/images/electronic_01_compact.jpg" alt="Electronic equipment">
																</a>
															</li>
															<li class="link">
																<a class="title text-left" href="product.html">Electronic equipment</a>
															</li>
														</ul>
													</td>
													<td class="price title-1">
														<span class="money" data-currency-usd="$200.00">$200.00</span>
													</td>
													<td class="remove">
														<div>
															<div class="product-remove">
																<a title="Remove" class="color-red icon icon-clear" href="#">
																	<i class="fa fa-close"></i>
																</a>
															</div>
														</div>
													</td>
													<td class="button">
														<form action="http://demo.themeforshop.com/html_sarahmarket/demo/product.html" method="post">
															<input type="hidden" name="quantity" value="1">
															<button class="btn btn-1 select-option" type="button" onclick="window.location='product.html';">Options</button>
														</form>
													</td>
												</tr>
												<tr class="item wishlist-item">
													<td class="title text-left">
														<ul class="list-inline">
															<li class="image">
																<a class="image text-left" href="product.html"><img src="~/images/electronic_02_compact.jpg" alt="Electronic equipment"></a>
															</li>
															<li class="link">
																<a class="title text-left" href="product.html">Electronic equipment</a>
															</li>
														</ul>
													</td>
													<td class="price title-1">
														<span class="money" data-currency-usd="$250.00">$250.00</span>
													</td>
													<td class="remove">
														<div>
															<div class="product-remove">
																<a title="Remove" class="color-red icon icon-clear" href="#">
																	<i class="fa fa-close"></i>
																</a>
															</div>
														</div>
													</td>
													<td class="button">
														<form action="http://demo.themeforshop.com/html_sarahmarket/demo/cart.html" method="post">
															<input type="hidden" name="quantity" value="1">
															<button class="btn btn-1 select-option" type="button" onclick="window.location='product.html';">Options</button>
														</form>
													</td>
												</tr>
												<tr class="item wishlist-item">
													<td class="title text-left">
														<ul class="list-inline">
															<li class="image">
																<a class="image text-left" href="product.html"><img src="~/images/electronic_03_compact.jpg" alt="Electronic equipment"></a>
															</li>
															<li class="link">
																<a class="title text-left" href="product.html">Electronic equipment</a>
															</li>
														</ul>
													</td>
													<td class="price title-1" >
														<span class="money" data-currency-usd="$259.00">$259.00</span>
													</td>
													<td class="remove">
														<div>
															<div class="product-remove">
																<a title="Remove" class="color-red icon icon-clear" href="#">
																	<i class="fa fa-close"></i>
																</a>
															</div>
														</div>
													</td>
													<td class="button">
														<form action="http://demo.themeforshop.com/html_sarahmarket/demo/cart.html" method="post">
															<input type="hidden" name="quantity" value="1">
															<button class="btn btn-1 select-option" type="button" onclick="window.location='product.html';">Options</button>
														</form>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<p>You must <a href="login.html">Sign In</a> or <a href="register.html">Register</a>.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>